/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/image/
www.blog1997.com.key
www.blog1997.com.crt
/public/sitemap*
/reports/*
coverage.xml
/coverage/*
/build/*
/dist/*
/.idea/*
/.vscode/*
.git/
storage/*sql_log.txt
rsa_1024_priv.pem